node_modules
coverage
.nyc_output
test-snapshot/output-actual
test-snapshot/output-expected/public
test-snapshot/output-expected/metadata.json
.DS_Store
thumbsup.db
tmp*
result
.direnv/
/.pre-commit-config.yaml
