<li>
  <!-- This album -->
  <a href="{{filename}}.html">
    {{#if albums.length}}
      <i class="fa fa-folder-o"></i>
    {{else}}
      <i class="fa fa-photo"></i>
    {{/if}}
    {{title}}<span class="count">{{stats.total}}</span>
  </a>
  <!-- And nested album -->
  <ul>
    {{#each albums}}
      {{> sidebar-album}}
    {{/each}}
  </ul>
</li>
