

<!-- This album -->
<a href="{{filename}}.html">
  {{#times depth}}-{{/times}}
  {{title}}<span class="count">{{stats.total}}</span>
</a>

<!-- And nested album -->
{{#each albums}}
  {{> sidebar-album}}
{{/each}}
