{{#compare id '==' @root.album.id}}
  <li class="active">
{{else}}
  <li>
{{/compare}}
  <!-- This album -->
  <a href="{{relative url}}">{{title}}</a>
  <!-- And nested album -->
</li>
{{#each albums}}{{> nav}}{{/each}}
