<html>
  <head>
    <title>No theme applied</title>
  </head>
  <body>
    <h1>No theme applied<h1>
    <p>This is just the base layout which contains common files such as</p>
    <ul>
      <li>Handlebars helpers</li>
      <li>Handlebars partials</li>
      <li>CSS</li>
    </ul>
  </body>
</html>
